@import url("./fonts.css");
@import url("./reset.css");
@import url("./skip.css");
#wrap {
  width: 100%;
  height: 100%;
}
#wrap #main {
  width: 100%;
}
#wrap #main #section1 {
  width: 100%;
}
#wrap #main #section1 .container {
  width: 100%;
}
#wrap #main #section1 .container .slide-container {
  width: 100%;
}
#wrap #main #section1 .container .slide-container .slide-view {
  width: 100%;
  overflow: hidden;
}
#wrap #main #section1 .container .slide-container .slide-view .slide-wrap {
  position: relative;
  width: 400%;
  display: flex;
  animation: slide 18s ease-out infinite;
}
#wrap #main #section1 .container .slide-container .slide-view .slide-wrap .slide {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background: url() no-repeat 50% 50%;
  background-size: cover;
}
#wrap #main #section1 .container .slide-container .slide-view .slide-wrap .slide::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}
#wrap #main #section1 .container .slide-container .slide-view .slide-wrap .slide.slide1 {
  background-image: url(../img/slider-img1.jpg);
}
#wrap #main #section1 .container .slide-container .slide-view .slide-wrap .slide.slide2 {
  background-image: url(../img/slider-img2.jpg);
}
#wrap #main #section1 .container .slide-container .slide-view .slide-wrap .slide.slide3 {
  background-image: url(../img/slider-img3.jpg);
}
#wrap #main #section1 .container .slide-container .slide-view .slide-wrap .slide .title {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 3;
}
#wrap #main #section1 .container .slide-container .slide-view .slide-wrap .slide .title div {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
#wrap #main #section1 .container .slide-container .slide-view .slide-wrap .slide .title div .gap {
  margin: 0 15px;
}
#wrap #main #section1 .container .slide-container .slide-view .slide-wrap .slide .title div .gap h1 {
  font-size: 100px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}
#wrap #main #section1 .container .slide-container .slide-view .slide-wrap .slide .title div .gap hr {
  border: 0;
  width: 570px;
  height: 8px;
  background: #fdd947;
  margin: 79px 0;
}
#wrap #main #section1 .container .slide-container .slide-view .slide-wrap .slide .title div .gap h3 {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.26px;
  color: #fff;
  text-transform: uppercase;
}
@keyframes slide {
  0.00% {
    transform: translateX(0px);
  }
  5.56% {
    transform: translateX(0px);
  }
  11.11% {
    transform: translateX(0px);
  }
  16.67% {
    transform: translateX(0px);
  }
  22.22% {
    transform: translateX(0px);
  }
  27.78% {
    transform: translateX(0px);
  }
  33.33% {
    transform: translateX(-1903px);
  }
  38.89% {
    transform: translateX(-1903px);
  }
  44.44% {
    transform: translateX(-1903px);
  }
  50.00% {
    transform: translateX(-1903px);
  }
  55.56% {
    transform: translateX(-1903px);
  }
  61.11% {
    transform: translateX(-1903px);
  }
  66.67% {
    transform: translateX(-3806px);
  }
  72.22% {
    transform: translateX(-3806px);
  }
  77.78% {
    transform: translateX(-3806px);
  }
  83.33% {
    transform: translateX(-3806px);
  }
  88.89% {
    transform: translateX(-3806px);
  }
  94.44% {
    transform: translateX(-3806px);
  }
  100.00% {
    transform: translateX(-5709px);
  }
}